.quote {
  background-color: #444; /* เทาเข้มตามภาพ */
  color: #fff;
  text-align: center;
  padding: 60px 16px;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 640px) {
  .quote {
    padding: 90px 20px;
  }
}

@media (min-width: 1024px) {
  .quote {
    padding: 120px 20px;
  }
}

.quote__content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.quote__title {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
}

.quote__subtitle {
  font-size: 0.95rem;
  font-weight: 300;
  color: #ccc;
  line-height: 1.6;
}

@media (min-width: 640px) {
  .quote__title {
    font-size: 1.5rem;
  }
  .quote__subtitle {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .quote__title {
    font-size: 2rem;
  }
  .quote__subtitle {
    font-size: 1.3rem;
  }
}

.quote__highlight {
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.quote__mark {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  margin-top: 40px;
}
