@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-primary: #d25e22;
  --color-primary-hover: #b8501d;
  --color-secondary: #6a7676;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.font-amo {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
